<header class="bg">
    <div class="container h-100">
		<div class="row h-100 align-items-center justify-content-md-center">
			<div class="col-md-auto">
			<form [formGroup]="searchForm" (ngSubmit)="submitForm()" method="POST">
				<div class="form-group input-group">
					<input [(ngModel)]="valor" type="text" name="busqueda" id="busqueda" formControlName="busqueda" class="form-control form-control-lg">
					<div class="input-group-append">
						<button class="input-group-text btn" type="submit">Buscar</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</header>
<div *ngIf="loading===false; else indicator">
<h2 class="lead">Resultado para "{{valor}}"</h2>

<div class="row" *ngIf="publications.length>0">
    <div class="col-6 col-sm-4 col-md-3 ht-100 pb-4" *ngFor="let publication of publications" >
      <div class="card">
        <img *ngIf="publication.articulo.fotos.length>0;  else noImage" class="img-fluid" src="{{publication.articulo.fotos[0].foto_sm}}" />

        <ng-template #noImage>
          <img src="assets/img/t_sinfoto.png" class="img-fluid">
        </ng-template>


        <div class="card-body">
          <h5 class="card-title">{{publication.articulo.marca.nombre}}</h5>
            <span class="card-text text-black-50">{{publication.region.nombre}} - {{publication.comuna.nombre}}</span>
            <h3 class="mt-1 text-primary">{{publication.precio}}</h3>
            <a (click)="sendPublication(publication)" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>



  <ng-template #indicator>
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
    <div class="spinner-border text-primary " role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
    </div>

  </ng-template>


  <app-show [publication]="publication"></app-show>
