<header class="bg">
    <div class="container h-100">
		<div class="row h-100 align-items-center justify-content-md-center">
			<div class="col-md-auto">
			<h1 class="display-3 text-white mb-0">Marketplace de Bicicletas</h1>
			<h2 class="lead mb-4 text-white">Bicicletas nuevas y usadas en Chile</h2>
			<form method="post" action="/search">
				<div class="form-group input-group">
					<input type="text" name="busqueda" id="busqueda" class="form-control form-control-lg" placeholder="¿Qué estas buscando?">
					<div class="input-group-append">
						<button class="input-group-text btn" type="submit">Buscar</button>
					</div>
				</div>
			</form>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<a class="btn btn-primary btn-lg btn-block" routerLink="search">Ver todas</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>