<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
	<div class="container">

		<a class="navbar-brand mr-auto text-primary" routerLink="home">BiciGo.cl</a>

		<a class="btn btn-sm btn-primary d-block d-md-none" routerLink="search">Ver Todas</a>
		<a class="btn btn-sm btn-primary d-block d-md-none" routerLink="publish">Publicar</a>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a class="btn btn-primary d-none d-md-block" routerLink="/search">Buscar</a>
				</li>
				<li class="nav-item ">
					<a class="btn btn-primary d-none d-md-block" routerLink="/publish">Publicar</a>
				</li>
			</ul>
		</div>
	</div>
</nav>